body {
    background-color: #93F07B;
}

@font-face {
    font-family: 'Adventure';
    src: url(adventure.ttf);
}

@font-face {
    font-family: 'Anek Malayalam';
    src: url(AnekMalayalam-VariableFont_wdth\,wght.ttf);
}

#Html_lecon1_page_welcome_text {
    font-family: 'Adventure' , sans-serif;
}